/vendorsmart
# Dependencies
node_modules/
dist/
dist-server/

# Environment
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Runtime
*.sqlite
*.db

# Builds
*.exe
*.app
*.dmg
*.deb
*.rpm
release/

# Reports
reports/
/Relatorios/
C:/VendorSmart/Relatorios/
!reports/.gitkeep

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
